n8nworkflow.json
{
    "name": "Scheduled Smoke Tests with Teams Notification",
    "nodes": [
      {
        "id": "1",
        "name": "Cron Trigger",
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1,
        "position": [200, 300],
        "parameters": {
          "rule": "custom",
          "expression": "0 6 * * 1-5" 
        }
      },
      {
        "id": "2",
        "name": "Run Smoke Tests",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [500, 300],
        "parameters": {
          "command": "node \"C:\\IVS_Ngage\\run-tests-and-notify.js\""
        }
      },
      {
        "id": "3",
        "name": "Notify Success",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [800, 200],
        "parameters": {
          "url": "TEAMS_WEBHOOK_URL",
          "method": "POST",
          "bodyParametersUi": {
            "parameter": [
              {
                "name": "text",
                "value": "✅ Smoke tests finished successfully!\n{{ $json.stdout }}"
              }
            ]
          }
        }
      },
      {
        "id": "4",
        "name": "Notify Failure",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [800, 400],
        "parameters": {
          "url": "TEAMS_WEBHOOK_URL",
          "method": "POST",
          "bodyParametersUi": {
            "parameter": [
              {
                "name": "text",
                "value": "❌ Smoke tests failed to execute!\n{{ $json.stderr }}"
              }
            ]
          }
        }
      }
    ],
    "connections": {
      "Cron Trigger": {
        "main": [
          [
            {
              "node": "Run Smoke Tests",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Smoke Tests": {
        "main": [
          [
            {
              "node": "Notify Success",
              "type": "main",
              "index": 0
            }
          ]
        ],
        "error": [
          [
            {
              "node": "Notify Failure",
              "type": "error",
              "index": 0
            }
          ]
        ]
      }
    }
  }
  